@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
header,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: 0; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  height: 100vh;
  background: #121212;
  color: #fefefe;
  font-family: "Lato", sans-serif; }

nav {
  width: 100%;
  height: 5em;
  background: #121212;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1; }
  @media (max-width: 576px) {
    nav {
      justify-content: center;
      text-align: center; } }
  nav img {
    max-width: 3em; }
    @media (max-width: 576px) {
      nav img {
        position: absolute;
        left: 0; } }
  nav ul {
    width: 25%;
    list-style: none;
    display: flex;
    justify-content: space-evenly; }
    @media (max-width: 576px) {
      nav ul {
        background: #121212;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10em;
        width: 100%; } }
    nav ul li {
      padding-bottom: 5px;
      margin-bottom: 10px;
      cursor: pointer; }
    nav ul li:hover {
      border-bottom: 2px solid #36a4dc; }
  nav i {
    position: absolute;
    right: 1em; }
  nav .menu__toggle {
    display: none; }
  @media (max-width: 576px) {
    nav #menuToggleX {
      display: none; }
    nav #menuToggleHamburger {
      display: block; } }

header {
  height: 50%;
  position: relative; }
  header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    margin-top: 10em;
    animation-duration: 2s;
    animation-name: slidein; }
    @media (max-width: 576px) {
      header section {
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        gap: 30px; } }
@keyframes slidein {
  to {
    opacity: 100; }
  from {
    opacity: 0; } }
    @media (max-width: 576px) {
      header section .header__text {
        padding-left: 1.5em; } }
    header section div {
      display: flex;
      flex-direction: column;
      gap: 15px; }
      @media (max-width: 576px) {
        header section div {
          width: 100%; } }
      header section div img {
        border-radius: 50%;
        width: 400px;
        align-self: flex-start;
        margin-top: 15px;
        margin-right: 3em;
        box-shadow: 65px -35px 1px rgba(54, 164, 220, 0.8); }
        @media (max-width: 576px) {
          header section div img {
            margin-left: 14vw;
            width: 250px; } }
    header section p {
      color: #46a3dc;
      font-size: 24px; }
      @media (max-width: 576px) {
        header section p {
          font-size: 18px; } }
  header #down__arrow {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    animation: slidein 2s; }
@keyframes slidein {
  to {
    opacity: 100; }
  from {
    opacity: 0; } }
h1 {
  font-weight: 700;
  font-size: 70px; }
  @media (max-width: 576px) {
    h1 {
      font-size: 35px; } }

h2 {
  font-weight: 700;
  font-size: 35px; }
  @media (max-width: 576px) {
    h2 {
      font-size: 25px; } }

button {
  background: #46a3dc;
  color: #fefefe;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  max-width: 10rem;
  font-weight: 700;
  cursor: pointer; }

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 16em;
  width: 90%; }
  main h2 {
    margin-bottom: 3em; }
  main section {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 5em;
    margin-bottom: 15em;
    text-align: justify; }
    @media (max-width: 576px) {
      main section {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 8em; } }
    main section img {
      margin-left: 3%;
      height: 20vw;
      border-radius: 5px;
      box-shadow: -10px 10px 1px rgba(54, 164, 220, 0.8); }
      @media (max-width: 576px) {
        main section img {
          height: auto;
          width: 85vw; } }
    main section h3 {
      font-weight: 700;
      margin-bottom: 0.5em;
      color: #fefefe;
      font-size: 25px; }
      @media (max-width: 576px) {
        main section h3 {
          text-align: center; } }
    main section p {
      margin-bottom: 2em;
      line-height: 25px; }
    main section .button__container {
      width: 100%;
      display: flex; }
      @media (max-width: 576px) {
        main section .button__container {
          justify-content: space-evenly; } }
      main section .button__container button {
        width: 100px;
        margin-right: 10px; }
        @media (max-width: 576px) {
          main section .button__container button {
            width: 150px; } }

/*# sourceMappingURL=style.css.map */
