// @import url("https://fonts.googleapis.com/css?family=Roboto");

// RESET
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
header,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: 0;
}

* {
  box-sizing: border-box;
}

// MEDIA QUERY MIXINS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

// * {
//   box-sizing: border-box;
//   font-family: "Roboto", sans-serif;
// }

// html {
//   scroll-behavior: smooth;
// }

// $logo-color: $logo-color;

// body {
//   background: #f8f8f8;
//   line-height: 30px;
// }

// // HEADER
// .background__img {
//   background: url("../img/background.jpg") center no-repeat;
//   background-size: cover;
//   height: 100vh;
//   position: relative;
//   display: flex;
// }

// #logo {
//   height: 10vh;
//   margin: 1em 0 1em 4em;
//   position: absolute;
//   z-index: 2;

//   @include sm {
//     height: 7.5vh;
//     margin: 1.5em 0 1em 1.5em;
//   }
// }

// nav {
//   position: fixed;
//   background: rgba(0, 0, 0, 0.9);
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 100%;
//   width: 100%;
//   color: #fff;
//   display: none;
//   z-index: 1;

//   ul {
//     list-style-type: none;
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//     a {
//       color: #fff;
//       text-decoration: none;
//       margin-bottom: 5%;
//       @include sm {
//         margin-bottom: 15%;
//       }
//     }

//     li {
//       font-size: 2em;
//     }
//   }
// }

// .menu__toggle {
//   margin: 1.5em 4em 1em 0;
//   // position: absolute;
//   position: fixed;
//   right: 0;
//   z-index: 2;
//   height: 6vh;

//   @include sm {
//     height: 5.5vh;
//     margin: 2em 1.5em 1em 0;
//   }
// }

// #menuToggleX {
//   display: none;
// }

// .header__text {
//   color: #fff;
//   height: 100%;
//   margin: 0 4em 0 4em;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   h1 {
//     font-size: 70px;
//     margin-bottom: 0.5em;
//   }

//   p {
//     font-size: 24px;
//   }

//   @include sm {
//     margin-left: 1.5em;
//     margin-right: 1.5em;
//     text-align: center;

//     h1 {
//       font-size: 30px;
//       margin-bottom: 0.5em;
//     }

//     p {
//       font-size: 16px;
//       line-height: 23px;
//     }
//   }
// }

// .down__icon {
//   height: 6vh;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
//   margin-bottom: 5em;
// }

// main {
//   margin: 0 4em 0 4em;

//   @include sm {
//     margin-left: 1.5em;
//     margin-right: 1.5em;
//   }
// }

// // ABOUT ME
// #about__me {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-areas:
//     "about__me__heading about__me__img"
//     "about__me__paragraph about__me__img";
//   align-items: center;
//   margin-top: 10em;

//   h2 {
//     font-size: 65px;
//     grid-area: about__me__heading;
//     margin-bottom: 1em;
//   }

//   p {
//     font-size: 20px;
//     grid-area: about__me__paragraph;
//     color: #808080;
//   }

//   img {
//     height: 55vh;
//     grid-area: about__me__img;
//     justify-self: center;
//     align-self: center;
//   }
//   a {
//     color: $logo-color;
//     text-decoration: none;
//   }
//   @include sm {
//     grid-template-columns: 1fr;
//     grid-template-areas:
//       "about__me__heading"
//       "about__me__img"
//       "about__me__paragraph";
//     margin-top: 3em;

//     h2 {
//       font-size: 26px;
//     }

//     p {
//       font-size: 16px;
//     }

//     img {
//       height: 28vh;
//       margin-top: 1.5em;
//       margin-bottom: 2em;
//     }
//   }
// }

// // PORTFOLIO

// #portfolio {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-areas:
//     "portfolio__heading ."
//     "japanese__writing__web japanese__writing__info"
//     "feed__web feed__info"
//     "budget__web budget__info";
//   // "youthgroup__web youthgroup__info";
//   row-gap: 110px;

//   @include sm {
//     row-gap: 20px;
//   }

//   align-items: center;
//   margin-top: 10em;

//   h2 {
//     font-size: 65px;
//     grid-area: portfolio__heading;
//     margin-bottom: 1em;
//   }

//   h3 {
//     font-size: 40px;
//     margin-bottom: 0.5em;
//   }

//   p {
//     font-size: 20px;
//     color: #808080;
//   }

//   img {
//     height: 45vh;
//   }

//   #portfolio__heading {
//     grid-area: portfolio__heading;
//   }
//   #feed__web {
//     grid-area: feed__web;
//   }
//   #feed__info {
//     grid-area: feed__info;
//   }
//   #japanese__writing__web {
//     grid-area: japanese__writing__web;
//   }
//   #japanese__writing__info {
//     grid-area: japanese__writing__info;
//   }
//   #budget__web {
//     grid-area: budget__web;
//   }
//   #budget__info {
//     grid-area: budget__info;
//   }
//   #youthgroup__web {
//     grid-area: youthgroup__web;
//   }
//   #youthgroup__info {
//     grid-area: youthgroup__info;
//   }

//   button {
//     background: $logo-color;
//     border: none;
//     border-radius: 4px;
//     padding: 5px 10px 5px 10px;
//     margin-top: 1em;
//     color: #fff;
//     font-family: "Roboto", sans-serif;
//   }

//   @include sm {
//     grid-template-columns: 1fr;
//     grid-template-areas:
//       "portfolio__heading"
//       "japanese__writing__web"
//       "japanese__writing__info"
//       "feed__web"
//       "feed__info"
//       "budget__web"
//       "budget__info";

//     h2 {
//       font-size: 26px;
//     }

//     h3 {
//       font-size: 20px;
//       text-align: center;
//     }

//     p {
//       font-size: 16px;
//       text-align: center;
//     }

//     img {
//       height: auto;
//       width: 70vw;
//       margin-top: 1.5em;
//       margin-bottom: 2em;
//       margin: 0 auto;
//     }

//     .button__container {
//       display: flex;
//       justify-content: center;
//       margin-bottom: 5em;

//       button {
//         margin-left: 10px;
//         margin-right: 10px;
//       }
//     }
//   }
// }

// // GRAPHIC DESIGN SECTION BEING WORKED ON

// #graphic__portfolio {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-areas:
//     "book__covers__info"
//     "all__logos__info"
//     "mrbones__info"
//     "gorillaz__info"
//     "code__now__info";

//   row-gap: 110px;

//   #book__covers__info {
//     grid-area: book__covers__info;
//   }
//   #all__logos__info {
//     grid-area: all__logos__info;
//   }
//   #mrbones__info {
//     grid-area: mrbones__info;
//   }
//   #gorillaz__info {
//     grid-area: gorillaz__info;
//   }
//   #code__now__info {
//     grid-area: code__now__info;
//   }

//   @include sm {
//     grid-template-columns: 1fr;
//     grid-template-areas:
//       " .  book__covers__info"
//       " . all__logos__info"
//       " . mrbones__info"
//       " . gorillaz__info"
//       ". code__now__info";
//   }
// }

// // CONTACT

// #contact {
//   display: grid;
//   grid-template-columns: 2fr 1fr;
//   grid-template-areas:
//     "contact__heading ."
//     "contact__paragraph .";
//   align-items: center;
//   margin-top: 10em;

//   h2 {
//     font-size: 65px;
//     grid-area: contact__heading;
//     margin-bottom: 1em;
//   }

//   p {
//     font-size: 20px;
//     grid-area: contact__paragraph;
//     color: #808080;
//   }
//   a {
//     color: $logo-color;
//     text-decoration: none;
//   }
//   @include sm {
//     grid-template-columns: 1fr;
//     grid-template-areas:
//       "contact__heading"
//       "contact__paragraph";
//     margin-top: 3em;

//     h2 {
//       font-size: 26px;
//     }

//     p {
//       font-size: 16px;
//     }
//   }
// }

// footer {
//   margin-top: 10%;
//   padding-top: 1em;
//   text-align: center;
//   color: #fff;
//   background: #3091c2;

//   p {
//     margin-bottom: 0.5em;
//   }

//   .footer__icons {
//     display: flex;
//     justify-content: space-evenly;

//     img {
//       width: 5vw;
//       margin-bottom: 1em;

//       @include sm {
//         width: 10vh;
//       }
//     }
//   }

//   .copyright {
//     background: #17455c;
//     padding-bottom: 0.5em;
//     padding-top: 0.5em;
//   }
// }
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$logo-color: #36a4dc;

html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background: #121212;
  color: #fefefe;
  font-family: "Lato", sans-serif;
}

nav {
  width: 100%;
  height: 5em;
  background: #121212;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  @include sm {
    justify-content: center;
    text-align: center;
  }

  img {
    max-width: 3em;
    @include sm {
      position: absolute;
      left: 0;
    }
  }

  ul {
    width: 25%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    @include sm {
      background: #121212;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10em;
      width: 100%;
    }

    li {
      padding-bottom: 5px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    li:hover {
      border-bottom: 2px solid $logo-color;
    }
  }

  i {
    position: absolute;
    right: 1em;
  }

  .menu__toggle {
    display: none;
  }

  @include sm {
    #menuToggleX {
      display: none;
    }

    #menuToggleHamburger {
      display: block;
    }
  }
}

header {
  height: 50%;
  position: relative;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    @include sm {
      justify-content: center;
      flex-direction: column-reverse;
      width: 100%;
      gap: 30px;
    }
    margin-top: 10em;
    animation-duration: 2s;
    animation-name: slidein;
    @keyframes slidein {
      to {
        opacity: 100;
      }
      from {
        opacity: 0;
      }
    }

    .header__text {
      @include sm {
        padding-left: 1.5em;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 15px;
      @include sm {
        width: 100%;
      }

      img {
        border-radius: 50%;
        width: 400px;
        align-self: flex-start;
        margin-top: 15px;
        margin-right: 3em;
        box-shadow: 65px -35px 1px rgba($color: $logo-color, $alpha: 0.8);
        @include sm {
          margin-left: 14vw;
          width: 250px;
        }
      }
    }

    p {
      color: #46a3dc;
      font-size: 24px;
      @include sm {
        font-size: 18px;
      }
    }
  }
  #down__arrow {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    animation: slidein 2s;
    @keyframes slidein {
      to {
        opacity: 100;
      }
      from {
        opacity: 0;
      }
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 70px;
  @include sm {
    font-size: 35px;
  }
}

h2 {
  font-weight: 700;
  font-size: 35px;
  @include sm {
    font-size: 25px;
  }
}

button {
  background: #46a3dc;
  color: #fefefe;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  max-width: 10rem;
  font-weight: 700;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 16em;
  width: 90%;
  h2 {
    margin-bottom: 3em;
  }
  section {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 5em;
    margin-bottom: 15em;
    text-align: justify;
    @include sm {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-bottom: 8em;
    }
    img {
      margin-left: 3%;
      height: 20vw;
      border-radius: 5px;
      box-shadow: -10px 10px 1px rgba($color: $logo-color, $alpha: 0.8);

      @include sm {
        height: auto;
        width: 85vw;
      }
    }
    h3 {
      font-weight: 700;
      margin-bottom: 0.5em;
      color: #fefefe;
      font-size: 25px;
      @include sm {
        text-align: center;
      }
    }
    p {
      margin-bottom: 2em;
      line-height: 25px;
    }
    .button__container {
      width: 100%;
      display: flex;
      @include sm {
        justify-content: space-evenly;
      }
      button {
        width: 100px;
        margin-right: 10px;
        @include sm {
          width: 150px;
        }
      }
    }
  }
}
