// Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// RESET
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
header,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: 0;
}

* {
  box-sizing: border-box;
}

// MEDIA QUERY MIXINS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

$logo-color: #36a4dc;

html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background: #121212;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: 5em;
  background: #121212;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  @include sm {
    justify-content: center;
    text-align: center;
  }
  #logo {
    margin-left: 8px;
  }
  img {
    max-width: 3em;
    @include sm {
      position: absolute;
      left: 0;
    }
  }

  ul {
    width: 25%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    @include sm {
      background: #121212;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10em;
      width: 100%;
    }

    li {
      padding-bottom: 5px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    li:hover {
      border-bottom: 2px solid $logo-color;
    }
  }

  i {
    position: absolute;
    right: 1em;
  }

  .menu__toggle {
    display: none;
  }

  @include sm {
    #menuToggleX {
      display: none;
    }

    #menuToggleHamburger {
      display: block;
    }
  }
}

header {
  height: 50%;
  position: relative;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    @include sm {
      justify-content: center;
      flex-direction: column-reverse;
      width: 100%;
      gap: 30px;
    }
    margin-top: 10em;
    animation-duration: 2s;
    animation-name: slidein;
    @keyframes slidein {
      to {
        opacity: 100;
      }
      from {
        opacity: 0;
      }
    }

    .header__text {
      @include sm {
        padding-left: 1.5em;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 15px;
      @include sm {
        width: 100%;
      }

      img {
        border-radius: 50%;
        width: 400px;
        align-self: flex-start;
        margin-top: 15px;
        margin-right: 3em;
        box-shadow: 65px -35px 1px rgba($color: $logo-color, $alpha: 0.8);
        @include sm {
          margin-left: 14vw;
          width: 250px;
        }
      }
    }
    .social__icons {
      flex-direction: row;
      align-items: center;
      margin-top: 5%;
      flex-wrap: wrap;
      svg {
        height: 50px;
        margin-right: 20px;
      }
    }
    p {
      color: #46a3dc;
      font-size: 24px;
      @include sm {
        font-size: 18px;
      }
    }
  }
  #down__arrow {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    @include sm{
      margin-top: 4em;
    }
    animation: slidein 2s;
    @keyframes slidein {
      to {
        opacity: 100;
      }
      from {
        opacity: 0;
      }
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 70px;
  @include sm {
    font-size: 35px;
  }
}

h2 {
  font-weight: 700;
  font-size: 35px;
  @include sm {
    font-size: 25px;
  }
}

button {
  background: #2985BB;
  color: #fefefe;
  margin-top: 1%;
  border-radius: 10px;
  padding: 10px;
  width: 10rem;
  font-weight: 700;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 16em;
  width: 90%;
  h2 {
    margin-bottom: 3em;
  }
  section {
    animation: slidein 2s;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 5em;
    margin-bottom: 15em;
    text-align: justify;
    @include sm {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-bottom: 8em;
    }
    img {
      margin-left: 3%;
      height: 20vw;
      border-radius: 5px;
      box-shadow: -10px 10px 1px rgba($color: $logo-color, $alpha: 0.8);

      @include sm {
        height: auto;
        width: 85vw;
      }
    }
    h3 {
      font-weight: 700;
      margin-bottom: 0.5em;
      color: #fefefe;
      font-size: 25px;
      @include sm {
        text-align: center;
      }
    }
    p {
      margin-bottom: 2em;
      line-height: 25px;
    }
    .button__container {
      width: 100%;
      display: flex;
      @include sm {
        justify-content: space-evenly;
      }
      button {
        width: 100px;
        margin-right: 10px;
        @include sm {
          width: 150px;
        }
      }
    }

    form {
      justify-self: flex-start;
      align-self: flex-start;
      width: 40%;
      margin-left: -10%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 1em;
      row-gap: 1em;
      @include sm {
        margin: 0 auto;
        width: 100%;
      }
      div {
        width: 100%;

        label {
          margin-bottom: 10px;
          display: block;
        }
        input,
        textarea {
          background: #1e1e1e;
          border: #1e1e1e solid 0;
          border-radius: 5px;

          color: #fefefe;
          width: 100%;
        }
        input {
          height: 30px;
        }
        input:focus {
          border-bottom: 2px solid $logo-color;
        }
      }
      #textarea {
        grid-column: 1/3;
        width: 100%;
      }
      textarea {
        width: 100%;
        height: 100px;
        resize: none;
      }
      textarea:focus {
        border-bottom: 2px solid $logo-color;
      }
    }

    aside {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      @include sm {
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
      }
      div {
        margin-bottom: 1em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        svg {
          height: 50px;
        }
        h3 {
          @include sm {
            display: none;
          }
          padding-top: 1em;
          margin-left: 1em;
        }
      }
    }
  }
}
