@import url('https://fonts.googleapis.com/css?family=Roboto');

// RESET
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
header {
    margin: 0;
    padding: 0;
    font-weight: normal;
}



* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

$logo-color: #36A4DC;

body {
    background: #F8F8F8;
}

// HEADER
.background__img {
    background: url('../img/background.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
}

#logo {
    height: 10vh;
    margin: 1em 0 1em 4em;
    position: absolute;
    z-index: 1;
}

.menu__toggle {
    margin: 1.5em 4em 1em 0;
    // position: absolute;
    position: fixed;
    right: 0;
    z-index: 1;
    height: 6vh;
}

.header__text {
    color: #fff;
    height: 100%;
    margin: 0 4em 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 80px;
        margin-bottom: .5em;
    }

    p {
        font-size: 25px;
    }
}

.down__icon {
    height: 6vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 2em;
}

main{
    margin: 0 4em 0 4em;
}
// ABOUT ME
#about__me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "about__me__heading about__me__img"
    "about__me__paragraph about__me__img";
    margin-top: 3em;
    h2{
        font-size: 65px;
        grid-area: about__me__heading;
    }
    p{
        font-size: 20px;
        grid-area: about__me__paragraph;
    }
    img{
        height: 55vh;
        grid-area: about__me__img;
        justify-self: center;
    }
}
// PORTFOLIO

#portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "portfolio__heading ."
    "code__now__web code__now__info";
    h2{
        font-size: 65px;
        grid-area: portfolio__heading;
    }
    h3{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    img{
        height: 40vh;
    }
    #code__now__web{
        grid-area: code__now__web;
    }
    #code__now__info{
        grid-area: code__now__info;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {
    // HEADER

    #logo {
        height: 7.5vh;
        margin: 1.5em 0 1em 1.5em;
    }

    .menu__toggle {
        height: 5.5vh;
        margin: 2em 1.5em 1em 0;
    }

    .header__text {
        margin-left: 1.5em;
        margin-right: 1.5em;
        text-align: center;

        h1 {
            font-size: 30px;
            margin-bottom: .5em;
        }

        p {
            font-size: 16px;
            line-height: 23px;
        }
    }

    main{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    // ABOUT ME

    #about__me{
        grid-template-columns: 1fr;
        grid-template-areas:
        "about__me__heading"
        "about__me__img"
        "about__me__paragraph";
        margin-top: 3em;

        h2{
            font-size: 26px;
        }
        p{
            font-size: 16px;
        }
        img{
            height: 28vh;
            margin-top: 1.5em;
            margin-bottom: 2em;
        }
    }
    // PORTFOLIO
    #portfolio{
        grid-template-columns: 1fr;
        grid-template-areas:
        "portfolio__heading"
        "code__now__web"
        "code__now__info";
        margin-top: 3em;
        h2{
            font-size: 26px;
        }
        h3{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
        img{
            height: 28vh;
            margin-top: 1.5em;
            margin-bottom: 2em;
        }
    }
}